.jumbotron {
  padding-top: 6rem;
  background-color: #4abdac;
}
#projects {
  background-color: #4abdac;
}
section {
  padding-top: 5rem;
}
.jumbotron h1 {
  padding-top: 2rem;
}
#contact {
  background-color: #4abdac;
}
